table{border:none;width:30%;    border: 1px solid #ccc;    margin-top: 100px;}
table td{border:none;padding: 6px;}
.msg{    text-align: center;    margin-bottom: -100px;    margin-top: 100px;    color: #76e05c;    position: relative;}
.ab{  color: #E31A82;  }
.ac{   color: #FA5807;    }